<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1 ng-bind="title"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
                    </div>
                    <div class="col-md-4">
                        Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
                    </div>
                    <div class="col-md-4">
                        Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>